{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

        <div style="background: #17141f;
background: -moz-linear-gradient(top, #17141f 0%, #ffffff 100%);
background: -webkit-linear-gradient(top, #17141f 0%, #ffffff 100%);
background: linear-gradient(to bottom, #17141f 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17141f', endColorstr='#ffffff',GradientType=0 );">
            <section class="banniere d-flex flex-column">
                <h1 class="pt-5 pb-2 text-center text-white">
                    <span class="hvr-grow-rotate">
                        Développeur Web et Web mobile
                    </span>
                </h1>
                <h2 class="p-5 text-center text-white">
                    <span class="hvr-grow-rotate">
                        Soufiane Essaouari
                    </span>
                </h2>
                <div class="d-flex justify-content-center pb-3">

                    <button type="button" class=" btn btn-outline-light"><a class="text-white" href="https://github.com/essasoufiane">Mon porifl GitHub</a></button>
                </div>
            </section>
            {# <!------------------- Le texte urgence stage ---------------> #}

            <section class="pb-5">
                <div class="wrapper">
                    <marquee behavior="alternate"><span class="font-weight-bolder text-white hvr-pulse">Urgent ! Je cherche un stage !</span></marquee>
                </div>
                {# <!----------------- section Présentation ----------- --> #}
                <div class="mx-auto card text-black bg-white" style="max-width: 18rem;">
                    <div class="card-header font-weight-bold text-center">Présentation</div>
                    <div class="card-body">
                        <!-- <h5 class="card-title">Info card title</h5> -->
                        <p class="card-text"> Je suis étudiant Développeur Web et Web mobile chez webforce3 à Mérignac, je termine la formation le 20 juin et je cherche un stage pour 2 mois ou plus à partir du 20 juin sur bordeaux et ses alentours.</p>
                    </div>
                </div>

            </section>
        </div>




{% endblock %}
