{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div style="background: #17141f;
			background: -moz-linear-gradient(top, #17141f 0%, #ffffff 100%);
			background: -webkit-linear-gradient(top, #17141f 0%, #ffffff 100%);
			background: linear-gradient(to bottom, #17141f 0%, #ffffff 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17141f', endColorstr='#ffffff',GradientType=0 );">
		<section class="banniere d-flex flex-column">
			<span class="pt-5 pb-2 text-center text-white">
				<h1 class="hvr-grow-rotate">
					Développeur Web et Web mobile
				</h1>
			</span>
			<span class="p-5 text-center text-white">
				<h2 class="hvr-grow-rotate">
					Soufiane Essaouari
				</h2>
			</span>
			<div class="d-flex justify-content-center pb-3">

				<button type="button" class=" btn btn-outline-light">
					<a class="text-white" href="https://github.com/essasoufiane">Mon porifl GitHub</a>
				</button>
			</div>
		</section>
		{# <!------------------- Le texte urgence stage ---------------> #}

		<section class="pb-5">
			<div class="wrapper">
				<marquee behavior="alternate">
					<span class="font-weight-bolder text-white hvr-pulse">Urgent ! Je cherche un stage !</span>
				</marquee>
			</div>
			{# <!----------------- section Présentation ----------- --> #}
			<div class="mx-auto card text-black bg-white" style="max-width: 18rem;">
				<div class="card-header font-weight-bold text-center">Présentation</div>
				<div
					class="card-body">
					<!-- <h5 class="card-title">Info card title</h5> -->
					<p class="card-text">
						Je suis étudiant Développeur Web et Web mobile chez webforce3 à Mérignac, je termine la formation le 20 juin et je cherche un stage pour 2 mois ou plus à partir du 20 juin sur bordeaux et ses alentours.</p>
				</div>
			</div>

		</section>
	</div>
	<main>
		<div class="border border-dark border-right-0 border-left-0" style="min-height:40px;">
			<h3 class="text-center font-weight-bolder">Compétences</h3>
		</div>
		<section class="pt-3">
			<div class="d-flex justify-content-around flex-wrap font-weight-bold">
				<ul>
					<li>Angular 2+</li>
					<li>Symfony</li>
					<li>POO(orienté object)</li>
					<li>PHP</li>
					<li>SQL/MySQL/NoSQL</li>
					<li>JavaScript</li>
					<li>jQuery</li>
				</ul>
				<ul>
					<li>HTML5/CSS3</li>
					<li>Ux/Ui Design</li>
					<li>Bootstrap</li>
					<li>WordPress</li>
					<li>FIGMA/Adobe XD</li>
					<li>Adobe Ps,Ae,Pr,Ai</li>
					<li>Shopify</li>
				</ul>
			</div>
		</section>
                <section class="d-flex flex-wrap justify-content-around">
            <article data-aos-duration="3000" data-aos="fade-up" class="py-4">
                <div class="card shadow" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/poo_mvc_fromscratchCapture.png" alt="image site php">
                    <div class="card-body">
                        <h5 class="card-title">POO MVC fromScratch</h5>
                        <p class="card-text">J'ai coder ce site avec une approche conceptuelle orienté objet et une architecture MVC totalement fromscratch (à la main). Cliquez <a href="https://github.com/essasoufiane/siteWeb_PourVTC_en_POO_MVC">ici</a> pour voir le code sur GitHub, et sur le bouton ci dessous pour voir le site et le tester.</p>
                        <a href="https://github.com/essasoufiane/siteWeb_PourVTC_en_POO_MVC" class="btn btn-primary hvr-grow">Voir le site</a>
                    </div>
                </div>

            </article>
            <article data-aos-duration="3000" data-aos="fade-up" class="py-4">
                <div class="card shadow" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/screen-alpha-series.jpg" alt="image blog apha series">
                    <div class="card-body">
                        <h5 class="card-title">Alpha Séries</h5>
                        <p class="card-text">J'ai coder ce site avec HTML/CSS en from scratch, vous pouvez le voir sur GitHub.</p>
                        <a href="https://essasoufiane.github.io/alpha-series/" class="btn btn-primary hvr-grow">Voir le site</a>
                    </div>
                </div>

            </article>
            <article data-aos-duration="3000" data-aos="fade-up" class="py-4">
                <div class="card shadow" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/cvCapture.png" alt="image blog cryptomonnaie">
                    <div class="card-body">
                        <h5 class="card-title">CV</h5>
                        <p class="card-text">Vous pouvez telecharger mon CV en pdf ici.</p>
                        <a href="assets/ESSAOUARI_Soufiane.pdf" download="ESSAOUARI_Soufiane.pdf" class="btn btn-primary hvr-grow">Telecharger le CV</a>

                    </div>
                </div>

            </article>

            <article data-aos-duration="3000" data-aos="fade-up" class="py-4">
                <div class="card shadow" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/cryptocurrency-6601591.jpg" alt="image blog cryptomonnaie">
                    <div class="card-body">
                        <h5 class="card-title">CryptoManiax</h5>
                        <p class="card-text">J'ai créé ce blog qui traite les sujets cryptomonnaies et blockchain avec WordPress.</p>
                        <a href="https://cryptomaniax.fr/" class="btn btn-primary hvr-grow">Voir le site</a>
                    </div>
                </div>

            </article>
            <article data-aos-duration="3000" data-aos="fade-up" class="py-4">
                <div class="card shadow" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/enregistrementImage.png" alt="image formulaire">
                    <div class="card-body">
                        <h5 class="card-title">formulaire login</h5>
                        <p class="card-text">J'ai créé un système de login from scratch vous pouvez vous enregistrer et vous connecter et vous serais enregister dans la base de données de ce site vous serais afficher dans la page <a href="utilisateurs.php">utilisateurs</a> .</p>
                        <a href="enregistrement.php" class="btn btn-primary hvr-grow">S'enregistrer</a>
                    </div>
                </div>

            </article>
            <article data-aos-duration="3000" data-aos="fade-up" class="py-4">
                <div class="card shadow" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/PortfolioCapture.png" alt="Portfolio">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio</h5>
                        <p class="card-text">J'ai coder ce site from scratch avec PHP , vous pouvez voir le code sur GitHub.</p>
                        <a href="https://github.com/essasoufiane/PortFolio" class="btn btn-primary hvr-grow">Voir le code</a>
                    </div>
                </div>

            </article>
        </section>
	</main>


{% endblock %}
